# Block large single-cell data objects
*.rds
*.RData
*.h5ad

# Temporary R files and logs
.Rhistory
.RDataTmp
*.log

# Cache directories
.Rproj.user/
.venv/
__pycache__/

# omnipath
.omnipathr-log/

slurm_logs/slurm_logs/*.out
slurm_logs/*.err

multinichenetr/
nichenetr/